src/main/mule/test-ci-cd-deployment.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b1b8cf55-4352-4aad-8020-dfdcb8bac4ca" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="test-ci-cd-deploymentFlow" doc:id="f19b521c-f60b-4399-9672-7e652f02adef" >
		<http:listener doc:name="Listener" doc:id="8ca11663-2f24-4bae-a4c1-0e084900d6cd" config-ref="HTTP_Listener_config" path="ci-cd"/>
		<logger level="INFO" doc:name="START" doc:id="b3b3913c-0f38-423f-b9ec-9cd5a698357a" message='"Execution started successfully"'/>
		<ee:transform doc:name="Main Payload" doc:id="a0ec45a8-5531-42ce-b66b-87c4021891d6">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: "CI/CD deployment successfully! ",
	timestamp: now(),
	environment: "sandbox",
	version: "1.0.0"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
<logger level="INFO" doc:name="END" doc:id="13b5f78f-be89-4001-8b47-4e8245143c8f" 
		        message='#[" Response: " ++ write(payload, "application/json")]'/>	</flow>
</mule>
